<h2>PIN revoken</h2>

<p>
Hier kannst du (als Administrator) die PIN eines Nutzer revoken.<br>
Mit dieser PIN kann das RaumZeitLabor danach nicht mehr geöffnet werden.<br>
Die PIN selbst wird nirgends gesichert.
</p>

<ul>
<% FOR user in users %>
<li><a href="/BenutzerDB/admin/revokepin/<% user.handle %>">PIN von „<% user.handle %>“ revoken</a></li>
<% END %>
</ul>
