
<table width="50%" class="table table-bordered table-striped" style="width: 50%">
<thead>
<tr>
<th>Nickname</th>
<th>PIN?</th>
</tr>
</thead>
<% FOR user in users %>
<tr>
<td><% user.handle %></td>
<td>
<% IF user.pin %>
Ja
<% ELSE %>
Nein
<% END %>
</td>
</tr>
<% END %>
</table>
