<p>
Hier kannst du (als Administrator) einem Nutzer eine PIN zuweisen.<br />
Mit dieser PIN kann der Nutzer jederzeit das RaumZeitLabor öffnen.<br />
Nur Mitglieder dürfen eine PIN haben.
</p>

<p>
Folgende Nutzer haben noch keine PIN:
</p>

<ul>
<% FOR user in users %>
<li><a href="/BenutzerDB/admin/setpin/<% user.handle %>">PIN für „<% user.handle %>“ zuweisen</a></li>
<% END %>
</ul>
