<p>
Bitte melde dich an:
</p>

<% IF error %>
<p style="border: 2px solid red">
<% error %>
</p>
<% END %>

<form action="/BenutzerDB/login" method="post">
Nutzername: <input type="text" name="username"><br />
Passwort: <input type="password" name="password"><br />
<input type="submit">
</form>

<p style="margin-top: 4em">
Wenn du noch keinen Account hast, kannst du <a href="/BenutzerDB/register">dich registrieren</a>.
</p>

