<h2>SSH public-keys zum Öffnen der Tür</h2>

<p>
Möchtest du folgenden Key wirklich entfernen?
</p>

<pre><% pubkey %></pre>

<form action="/BenutzerDB/my/sshkeys/remove/<% keyid %>" method="post" class="form-horizontal">
<input type="submit" value="Key entfernen" class="btn btn-danger">
</form>
