<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>BenutzerDB</title>
<link rel="stylesheet" href="/BenutzerDB/css/style.css" />
</head>
<body>
<div id="header">
<img style="margin-right: 10px" alt="RZL-Logo" src="/BenutzerDB/images/logo.png" align="left" width="120px" height="60px" />
<h1>Benutzerdatenbank</h1>
<p id="logintext" style="clear: both">
<% IF vars.logged_in %>
Angemeldet als <strong><% vars.user %></strong> (<a href="/BenutzerDB/logout">Abmelden</a>)
<% END %>
</p>
<div id="menubox">
<div id="menu">
<ul>
<li><a href="/BenutzerDB/">Startseite</a></li>
<li><a href="/BenutzerDB/changepw">Passwort ändern</a></li>
<% IF vars.logged_in %>
<li><a href="/BenutzerDB/my/pin">PIN anzeigen</a></li>
  <% IF vars.has_pin %>
    <li><a href="/BenutzerDB/my/sshkeys/tuer">Tür via SSH</a></li>
  <% END %>
<% END %>
<% IF vars.is_admin %>
<li><a href="/BenutzerDB/admin/setpin">PIN zuweisen</a></li>
<li><a href="/BenutzerDB/admin/revokepin">PIN revoken</a></li>
<li><a href="/BenutzerDB/admin/users">Benutzerliste</a></li>
<% END %>
</ul>
</div>
</div>
</div>

<div id="content">
<% content %>
</div>
<div id="footer">
<p>
Ansprechpartner: sECuRE (jabber: michael@stapelberg.de)
</p>
</div>
</body>
</html>
