<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="<% settings.charset %>">
<title>BenutzerDB</title>
<link rel="stylesheet" href="/BenutzerDB/css/bootstrap.css" />
<!--<link rel="stylesheet" href="/BenutzerDB/css/style.css" />-->
<style type="text/css">
p, label {
	font-size: 16px;
}
</style>
</head>
<body>

<div class="navbar">
<div class="navbar-inner">
<div class="container">
<img style="margin-right: 10px; margin-top: 6px; margin-bottom: 6px;" alt="RZL-Logo" src="/BenutzerDB/images/logowhite.png" align="left" width="120px" height="60px" />
<% IF vars.logged_in %>
<h1 style="margin-top: 4px">BenutzerDB</h1>
Angemeldet als <strong><% vars.user %></strong> (<a href="/BenutzerDB/logout">Abmelden</a>)
<% ELSE %>
<h1 style="line-height: 60px">BenutzerDB</h1>
<% END %>
</div>
</div>
</div>

<div class="container">

<div class="row-fluid">
<div class="span2" style="padding-top: 6em">
<div id="menubox">
<div id="menu">
<ul>
<li><a href="/BenutzerDB/">Startseite</a></li>
<% IF vars.logged_in %>
<li><a href="/BenutzerDB/changepw">Passwort ändern</a></li>
<li><a href="/BenutzerDB/my/pin">PIN anzeigen</a></li>
<li><a href="/BenutzerDB/my/devices">MAC hinterlegen</a></li>
  <% IF vars.has_pin %>
    <li><a href="/BenutzerDB/my/sshkeys/tuer">Tür via SSH</a></li>
  <% END %>
<% END %>
<% IF vars.is_admin %>
<li><a href="/BenutzerDB/admin/setpin">PIN zuweisen</a></li>
<li><a href="/BenutzerDB/admin/revokepin">PIN revoken</a></li>
<li><a href="/BenutzerDB/admin/users">Benutzerliste</a></li>
<% END %>
</ul>
</div>
</div>

</div>
<div class="span10">
<div class="page-header">
<h1><% title %></h1>
</div>
<% content %>
</div>
</div>

<p id="logintext" style="clear: both">
<% IF vars.logged_in %>
<% END %>
</p>

<footer class="footer" style="margin-top: 8em">
<p style="text-align: center; font-size: 13px; padding-top: 1em">
Ansprechpartner: sECuRE (jabber: michael@stapelberg.de)
</p>
</footer>

</div>
</body>
</html>
